* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #000; */
}

.box {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  /* animation: spin 2s ease-in-out infinite; */
}

/* @keyframes spin {
  0% {
    width: 200px;
    transform: rotate3d(0deg);
    background: red;
  }
  25% {
    transform: rotate3d(45deg);
    transform: scale(1.3);
    background: green;
  }
  75% {
    /* transform: rotate(90deg); */
/* width: 200px;
    background: yellow;
  }
  100% {
    transform: rotate3d(180deg);
    width: 100px;
    /* transform: scale(1.3); */
/* background: #000; */
/* } */
/* } */

.cube-container {
  perspective: 800px;
  width: 200px;
  height: 200px;
  position: relative;
  margin: 30px auto;
  border: 1px solid red;
}

.cube {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotate 5s infinite linear;
}

.face {
  position: absolute;
  width: 200px;
  height: 200px;
  background: #ffffff;
  border: 1px solid green;
  line-height: 200px;
  text-align: center;
}

.front {
  transform: translateZ(-100px) rotateY(0deg);
}
.back {
  transform: translateZ(-100px) rotateY(-180deg);
}

.right {
  transform: translateZ(-100px) rotateY(-90deg);
}

.left {
  transform: translateZ(-100px) rotateY(90deg);
}

.top {
  transform: translateZ(-100px) rotateX(-90deg);
}

.bottom {
  transform: rotateX(90deg);
  transform: translateZ(-100px);
}

@keyframes rotate {
  from {
    /* transform: rotateX(0deg); */
    transform: rotateY(0deg);
  }
  to {
    /* transform: rotateX(360deg); */
    transform: rotateY(360deg);
  }
}
